# Compiled Java files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

# NetBeans
nbproject/private/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Build folders
bin/
out/
build/
target/

# Java crash logs
hs_err_pid*
replay_pid*

# Temporary files
*.tmp
*.temp
